body, html{
    height: 100%;
	width: 100%;
    margin: 0;
}
.heading-title {
    color: #007eff;
    font-size: 2.5rem;
    display: inline-block;
    padding-left: 2rem;
    line-height: 3rem;
}
span.title-o {
    color: yellow;
}
.toolbar-header {
    box-shadow: 1px 0 5px 0 #808080;
}

.directory-sidebar{
    box-shadow: 0 6px 4px 0 #808080;
    background: #e8e8e8;
}